---
# kubeadm init에 전달하는 클러스터 초기화 설정입니다.
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ kubernetes_advertise_address }}"
  bindPort: 6443
nodeRegistration:
  criSocket: unix:///run/containerd/containerd.sock
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "{% if kubernetes_patch_version | default('') | length > 0 %}v{{ kubernetes_patch_version.split('-')[0] }}{% else %}stable-{{ kubernetes_version }}{% endif %}"
controlPlaneEndpoint: "{{ kubernetes_api_endpoint }}"
networking:
  podSubnet: "{{ kubernetes_pod_subnet }}"
  serviceSubnet: "{{ kubernetes_service_subnet }}"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
